.todo-list-container {
  margin: 64px auto 0 auto;
  display: flex;
  flex-direction: column;

  .todo-card {
    padding: 24px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }

  .todo-table {
    width: 100%;
    table-layout: fixed; // Использование фиксированной раскладки таблицы

    th,
    td {
      padding: 8px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .header-row {
      border-bottom: 1px solid #ddd;
      background-color: #f5f5f5;
    }

    .title-header,
    .title-cell {
      width: 150px; // Установка фиксированной ширины для колонки Title
      flex-shrink: 0;
    }

    .created-at,
    .time-left,
    .expiration {
      text-align: center;
      min-width: 100px;
    }

    .actions {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex: 1;

      button {
        margin-left: 8px;
      }
    }

    .red-text {
      color: red;
      font-weight: bold;
    }

    mat-icon {
      cursor: pointer;
    }
  }

  .mat-card-title {
    font-size: 1.5em;
    font-weight: bold;
    padding-bottom: 16px;
  }

  mat-divider {
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 768px) {
  .todo-list-container {
    overflow-y: hidden;
    padding: 0;
    width: 100vw;
  }

  mat-card-title {
    padding: 16px;
  }

  .todo-details {
    flex-direction: column;
    align-items: flex-start;

    .actions {
      text-align: left;
    }
  }

  .todo-table {
    width: 100vw;
    table-layout: auto; // Изменение на автоматическую раскладку для мобильных устройств

    td {
      display: block;
      padding: 10px 0;
      border-bottom: 1px solid #eee;

      .title-cell {
        width: calc(100vw - 10px);
      }
    }

    th {
      display: none;
    }
  }
}
