<div class="todo-list-container container">
  <mat-card class="todo-card" *ngIf="todayTodos.length > 0">
    <mat-card-title>Today TODO's</mat-card-title>
    <mat-divider></mat-divider>
    <table mat-table [dataSource]="todayTodos" class="todo-table" matSort>
      <!-- Checkbox and Title Column -->
      <ng-container matColumnDef="mainInfo">
        <td mat-cell *matCellDef="let todo">
          <div class="main-info">
            <mat-checkbox></mat-checkbox>
            <span class="todo-title">{{ todo.title }}</span>
          </div>
        </td>
      </ng-container>

      <!-- Details Column -->
      <ng-container matColumnDef="details">
        <td mat-cell *matCellDef="let todo">
          <div class="details">
            <span class="created-at">{{ todo.createdAt | date: 'MMM d, y' }}</span>
            <span class="time-left" [ngClass]="{'red-text': timeLeftMap.get(todo) === 'Expired' || (timeLeftMap.get(todo) || '') < '1h 0m 0s'}">
              {{ timeLeftMap.get(todo) || 'Calculating...' }}
            </span>
            <div class="actions">
              <button mat-icon-button (click)="toggleFavorite(todo)">
                <mat-icon [color]="todo.favorite ? 'warn' : ''">
                  {{ todo.favorite ? 'favorite' : 'favorite_border' }}
                </mat-icon>
              </button>
              <button mat-icon-button (click)="removeTodo(todo)" color="warn">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </td>
      </ng-container>

      <!-- Row Definitions -->
      <tr mat-row *matRowDef="let row; columns: ['mainInfo', 'details'];"></tr>
    </table>
  </mat-card>

  <mat-card class="todo-card" *ngIf="otherTodos.length > 0">
    <mat-card-title>My Todo List</mat-card-title>
    <mat-divider></mat-divider>
    <table mat-table [dataSource]="otherTodos" class="todo-table" matSort>
      <!-- Checkbox and Title Column -->
      <ng-container matColumnDef="mainInfo">
        <td mat-cell *matCellDef="let todo">
          <div class="main-info">
            <mat-checkbox></mat-checkbox>
            <span class="todo-title">{{ todo.title }}</span>
          </div>
        </td>
      </ng-container>

      <!-- Details Column -->
      <ng-container matColumnDef="details">
        <td mat-cell *matCellDef="let todo">
          <div class="details">
            <span class="created-at">{{ todo.createdAt | date: 'MMM d, y' }}</span>
            <span class="expiration">Expires: {{ todo.expirationDate | date: 'MMM d, y' }}</span>
            <div class="actions">
              <button mat-icon-button (click)="toggleFavorite(todo)">
                <mat-icon [color]="todo.favorite ? 'warn' : ''">
                  {{ todo.favorite ? 'favorite' : 'favorite_border' }}
                </mat-icon>
              </button>
              <button mat-icon-button (click)="removeTodo(todo)" color="warn">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </td>
      </ng-container>

      <!-- Row Definitions -->
      <tr mat-row *matRowDef="let row; columns: ['mainInfo', 'details'];"></tr>
    </table>
  </mat-card>
</div>
