<div class="todo-list-container container">
  <mat-card class="todo-card" *ngIf="todayTodos.length > 0">
    <mat-card-title>Today TODO's</mat-card-title>
    <mat-divider></mat-divider>
    <table mat-table [dataSource]="todayTodos" class="todo-table" matSort>
      <!-- Заголовки столбцов -->
      <ng-container matColumnDef="checkbox">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let todo">
          <mat-checkbox></mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef class="title-header">Title</th>
        <td mat-cell *matCellDef="let todo" class="title-cell">{{ todo.title }}</td>
      </ng-container>

      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef>Created At</th>
        <td mat-cell *matCellDef="let todo">{{ todo.createdAt | date: 'MMM d, y' }}</td>
      </ng-container>

      <ng-container matColumnDef="timeLeft">
        <th mat-header-cell *matHeaderCellDef>Time Left</th>
        <td mat-cell *matCellDef="let todo" [ngClass]="{'red-text': timeLeftMap.get(todo) === 'Expired' || (timeLeftMap.get(todo) || '') < '1h 0m 0s'}">
          {{ timeLeftMap.get(todo) || 'Calculating...' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let todo">
          <button mat-icon-button (click)="toggleFavorite(todo)">
            <mat-icon [color]="todo.favorite ? 'warn' : ''">
              {{ todo.favorite ? 'favorite' : 'favorite_border' }}
            </mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Строки заголовков и данных -->
      <tr mat-header-row *matHeaderRowDef="['checkbox', 'title', 'createdAt', 'timeLeft', 'actions']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['checkbox', 'title', 'createdAt', 'timeLeft', 'actions'];"></tr>
    </table>
  </mat-card>

  <mat-card class="todo-card" *ngIf="otherTodos.length > 0">
    <mat-card-title>My Todo List</mat-card-title>
    <mat-divider></mat-divider>
    <table mat-table [dataSource]="otherTodos" class="todo-table" matSort>
      <!-- Заголовки столбцов -->
      <ng-container matColumnDef="checkbox">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let todo">
          <mat-checkbox></mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef class="title-header">Title</th>
        <td mat-cell *matCellDef="let todo" class="title-cell">{{ todo.title }}</td>
      </ng-container>

      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef>Created At</th>
        <td mat-cell *matCellDef="let todo">{{ todo.createdAt | date: 'MMM d, y' }}</td>
      </ng-container>

      <ng-container matColumnDef="expiration">
        <th mat-header-cell *matHeaderCellDef>Expiration</th>
        <td mat-cell *matCellDef="let todo">Expires: {{ todo.expirationDate | date: 'MMM d, y' }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let todo">
          <button mat-icon-button (click)="toggleFavorite(todo)">
            <mat-icon [color]="todo.favorite ? 'warn' : ''">
              {{ todo.favorite ? 'favorite' : 'favorite_border' }}
            </mat-icon>
          </button>
          <button mat-icon-button (click)="removeTodo(todo)" color="warn">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Строки заголовков и данных -->
      <tr mat-header-row *matHeaderRowDef="['checkbox', 'title', 'createdAt', 'expiration', 'actions']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['checkbox', 'title', 'createdAt', 'expiration', 'actions'];"></tr>
    </table>
  </mat-card>
</div>
