<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="false">
    <mat-toolbar *ngIf="!(isHandset$ | async)">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/add" routerLinkActive="active-link">ADD</a>
      <a mat-list-item routerLink="/list" routerLinkActive="active-link">LIST</a>
      <a mat-list-item routerLink="/favorite" routerLinkActive="active-link">FAVORITE TODO LIST</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <ng-container *ngIf="isHandset$ | async; else desktopView">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>My TODO List</span>
        <span class="spacer"></span>
      </ng-container>
      <ng-template #desktopView>
        <div class="wrapper">
          <span>My TODO List</span>
          <span class="spacer"></span>
          <nav>
            <a mat-button routerLink="/add" routerLinkActive="active-link">ADD</a>
            <a mat-button routerLink="/list" routerLinkActive="active-link">LIST</a>
            <a mat-button routerLink="/favorite" routerLinkActive="active-link">FAVORITE TODO LIST</a>
          </nav>
        </div>
      </ng-template>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
