/* You can add global styles to this file, and also import other style files */
:root {
  --toolbar-bg-color: grey;
  --active-link-color: red;
}

html, body {
  height: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


html::before::-webkit-scrollbar {
  display: none;
}


.spacer {
  flex: 1 1 auto;
}

.container {
  display: flex;
  width: 70%;
  margin: 64px auto auto auto;
}

.active-link {
  color: var(--active-link-color) !important;
    .mdc-list-item__primary-text {
      color: var(--active-link-color) !important;
    }
}
